.hero-explore img{
    width: 40px;
    height: 40px ;
    padding: 10px ;
    border-radius: 50%;
}
.hero-play img{
    width: 40px;
    height: 40px ;
    padding: 10px  ;
    border-radius: 50%;
}
.hero{
    margin: 0px 90px;
    margin-top: 120px;
}
.hero-text{
    color: #fff;
    font-size: 80px;
    font-weight: 450;
    line-height: 110px;
}
.hero-explore{
    display: flex;
    align-items: center;
    gap: 30px;
    width: fit-content;
    margin-top: 40px;
    padding: 4px 5px;
    padding-left: 20px;
    border-radius: 60px;
    background-color: white;
    cursor: pointer;
}
.hero-explore p{
    color: #292929;
    font-size: 20px;
    font-weight: 400;
}
.hero-dot-play{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}
.hero-dots{
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}
.hero-dot{
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 7.5px;
    cursor: pointer;
}
.hero-dot.orange{
    background: orangered;
}
.hero-play{
    display: flex;
    align-items: center;
    gap: 10px;
}
.hero-play p{
    color: #fff;
    font-size: 15px;
}